<% provide(:title, 'Registries') %>
<section class="section">
  <%= link_to "Create new registry", new_calories_registry_path  %>
</section>
<br>
<div class="container is-widescreen">
  <%= paginate @calories_registries %>
</div>
<%= render @calories_registries %>
<div class="container is-widescreen">
  <%= paginate @calories_registries %>
</div>
